.about__container {

    @media screen and(min-width:$tablet) {
        display: flex;
    }
}

.about__image {

    @media screen and(max-width:$mobile-max) {
        margin-bottom: 16px;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (max-width:$tablet-max) {
        width: 336px;
    }

    @media screen and (min-width:$desktop) {
        width: 100%;
    }
}

.about__content {
    margin-top: auto;
    margin-bottom: auto;

    @media screen and(min-width:$tablet) {
        width: 336px;
        margin-left: 32px;
    }

    @media screen and(min-width:$desktop) {
        width: 392px;
        margin-left: 140px;
    }
}

.about__title {
    font-size: 24px;
    line-height: 1.25;
    @media screen and(max-width:$mobile-max) {
        margin-bottom: 10px;
        text-align: center;
    }

    @media screen and(min-width:$tablet) {
        margin-bottom: 16px;
    }

    @media screen and(min-width:$desktop) {
        font-size: 36px;
        line-height: 1.8;
    }
}

.about__description {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.25;

    @media screen and(min-width:$desktop) {
        font-size: 18px;
        line-height: 1.222;
    }
}


.about__button {
    font-size: 18px;
    border: none;
    font-family: 'Caveat Brush';
    font-size: 18px;
    line-height: 1.28;
    color: $button-bg-color;
    background-color: transparent;
    cursor: pointer;

    @media screen and(min-width:$desktop) {
            display: none;
        }

    // &:hover,
    // &:focus {
    //   background-color: transparent;
    //   transform: scale(1.2);
    //   transform: translate (10px, 20px);
    // }
}