html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    // background-color: var(--body-color);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    // color: var(--text-color);
}


.title {
    font-family: 'Caveat Brush', sans-serif;
    font-weight: 400;
    // color: $title-color;
}

button {
    text-align: center;

    font-size: 18px;
    line-height: 1.27;
    border-radius: 25px;
    
    font-family: 'Caveat Brush', sans-serif;;
    color: $button-text-color;
    background-color: $button-bg-color;

    cursor: pointer;
  }