.container {
  max-width: $mobile;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width:$mobile) and (max-width: $mobile-max) {
    max-width: 380px;
  }

  @media screen and (min-width: $tablet) {
    max-width: 744px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 1074px;
  }
}
