.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width:$tablet) {
        align-items: flex-start;
    }
}
.main-title {
    margin-bottom: 8px;
    font-family: 'Caveat Brush';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.266;
    color: $text-color;
    width: 224px;
    height: 76px;
    @media screen and (max-width:$mobile-max) {
        text-align: center;
        z-index: 10;
    }
    @media screen and (min-width:$desktop) {
        width: 490px;
        height: 130px;
        margin-bottom: 16px;
        font-size: 64px;
        line-height: 1.016;
    }
}

.title-info {
    font-weight: 500;
    color: $text-color;
    @media screen and (max-width: $tablet-max){
        font-size: 16px;
    }
    @media screen and (min-width:$desktop) {
        font-size: 24px;
        line-height: 1.208;
        }
}

.social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

    @media screen and (min-width:$tablet) {
        margin-top: 20px;
    }
    @media screen and (min-width:$desktop) {
        margin-top: 32px;
    }
}

.social-list__item:not(:last-child) {
    margin-right: 16px;
}

.button-header{
    margin-top: 32px;
    display: block;
}