.header__container{
    position: relative;
    width: 320px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    padding-bottom: 0px;

    @media screen and (min-width:$tablet) and (max-width:$tablet-max) {
        position: relative;
        width: 769px;
        height: auto;
        padding-right: 32px;
        padding-left: 32px;
        padding-top: 15px;
        padding-bottom: 69px;
    }
    @media screen and (min-width:$desktop) {
        position: relative;
        width: 1280px;
        height: auto;
        padding-top: 40px;
        padding-bottom: 111px;
    }
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width:$tablet) {
        align-items: flex-start;
    }
}
.main-title {
    margin-bottom: 8px;
    font-family: 'Caveat Brush';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.266;
    color: $text-color;
    width: 224px;
    height: 76px;
    @media screen and (max-width:$mobile-max) {
        text-align: center;
        z-index: 10;
    }
    @media screen and (min-width:$desktop) {
        width: 490px;
        height: 130px;
        margin-bottom: 16px;
        font-size: 64px;
        line-height: 1.016;
    }
}

.title-info {
    /*margin-bottom: 32px;*/
    font-weight: 500;
    color: $text-color;
    /*@media screen and (min-width:$tablet) {
            margin-bottom: 20px;
        }*/
    @media screen and (min-width:$desktop) {
        /*margin-bottom: 32px;*/
        font-size: 24px;
        line-height: 1.208;
        }
}

.social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

    @media screen and (min-width:$tablet) {
        margin-top: 20px;
    }
    @media screen and (min-width:$desktop) {
        margin-top: 32px;
    }
}

.social-list__item:not(:last-child) {
    margin-right: 16px;
}