.program {
  margin-top: 16px;
  padding-bottom: 50px;

  @media screen and(min-width:$tablet) {
    margin-top: 78px;
    padding-bottom: 44px;
  }

  @media screen and(min-width:$desktop) {
    margin-top: 14px;
    padding-bottom: 92px;
  }
}

.program__container {

  @media screen and(min-width:$tablet) {
    display: flex;
    justify-content: space-between;
  }
}

.program__content {

  @media screen and(min-width:$tablet) {
    
    flex-basis: 50%;
  }
}

.program__features {

  @media screen and(min-width:$tablet) {
    width: 336px;
  }
}

.program__title {
  font-size: 24px;
  line-height: 1.25;
  margin-bottom: 8px;

  @media screen and(max-width:$mobile-max) {
      text-align: center;
    }

  @media screen and(min-width:$desktop) {
    font-size: 36px;
    line-height: 1.8;
    margin-bottom: 20px;
  }
}

.program__text,
.program__item {
  margin-bottom: 8px;

  @media screen and(min-width:$desktop) {
      margin-bottom: 16px;
    }
}

// .program__item+.program__item {
//   margin-top: 8px;

//   @media screen and(min-width:$tablet) {}

//   @media screen and(min-width:$desktop) {
//     margin-top: 16px;
//   }
// }

.content__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

    @media screen and (min-width: $desktop) {
        justify-content: space-between;
      }
}

.content__img {
  position: absolute;
  top: -25%;
  left: 25%;
  cursor: pointer;
  transition: transform 1200ms;
}

.content__item {
  width: 130px;
  height: 130px;
  margin-top: 60px;
  padding-top: 50px;
  position: relative;
  text-align: center;
  border-radius: 50%;
  background-color: $card-bg-color;
  box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);
  cursor: pointer;
  transition: background-color 1000ms, transform 1000ms, box-shadow 1000ms;

  @media screen and(min-width:$tablet) {
    width: 152px;
    height: 152px;
    margin-top: 50px;
    padding-top: 53px;
  }

  @media screen and(min-width:$desktop) {
    width: 180px;
    height: 180px;
    padding-top: 65px;
    margin-top: 80px;
  }

  &:nth-child(even) {
    top: 30px;

  @media screen and(min-width:$tablet) {
    top: 54px;
  }

  @media screen and(min-width:$desktop) {
    top: 80px;
  }
}

  &:hover {
    background-color: $card-hover-color;
    transform: scale(1.05);
    box-shadow: 0px 8px 8px rgba(171, 129, 108, 0.25);
  }

  &:hover .content__img {
    transform: rotate(180deg);
  }
}

.content__title {
  text-align: center;
  font-size: 18px;
  line-height: 1.22;

  @media screen and(min-width:$desktop) {
    font-size: 24px;
    line-height: 1.25;
  }
}

.content__text {
  margin-top: 4px;
  font-size: 14px;
  line-height: 1.21;

  @media screen and(min-width:$tablet) {
    margin-top: 14px;
  }

  @media screen and(min-width:$desktop) {
    margin-top: 16px;
    font-size: 16px;
    line-height: 1.22;
  }
}

.content__icon {
  margin-top: 8px;
  width: 19px;
  height: 19px;

  @media screen and(min-width:$tablet) {
    width: 21px;
    height: 21px;
  }

  @media screen and(min-width:$desktop) {
    width: 25px;
    height: 25px;
  }
}

.program__button {
  font-size: 18px;
  border: none;
  font-family: 'Caveat Brush';
  font-size: 18px;
  line-height: 1.28;
  color: $button-bg-color;
  background-color: transparent;
  cursor: pointer;
  transition: transform 250ms $timing-function;

  @media screen and(min-width:$desktop) {
    display: none;
  }

  &.is-hidden {
    display: none;
  }

  &:hover,
  &:focus {
    background-color: transparent;
    transform: scale(1.2);
  }
}

.backdrop {
  @media screen and (max-width: $tablet-max) {
    &.is-hidden {
      display: none;
      opacity: 0;
      pointer-events: none;
    }
  }
}