.program__container {

  @media screen and(min-width:$tablet) {
    display: flex;
    justify-content: space-between;
  }

}

// .program__features {
//   width: 390px;
// }

.program__title {
  text-align: center;
  font-size: 24px;
  line-height: 1.25;
  margin-bottom: 8px;

  @media screen and(min-width:$tablet) {
    font-size: 36px;
    line-height: 1.81;
  }
}

.program__list {
  padding-top: 8px;

  @media screen and(min-width:$tablet) {}

  @media screen and(min-width:$desktop) {
    padding: 20px 0 16px 0;
  }

}

.program__item+.program__item {
  margin-top: 8px;

  @media screen and(min-width:$tablet) {}

  @media screen and(min-width:$desktop) {
    margin-top: 16px;
  }
}

.content__list {
  padding: 60px 0 20px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  // max-width: 500px;
}

.content__img {
  position: absolute;
  top: -25%;
  left: 25%;
  cursor: pointer;
  transition: transform 1200ms;
}

.content__item {
  width: 130px;
  height: 130px;
  padding-top: 50px;
  position: relative;
  text-align: center;
  border-radius: 50%;
  background-color: #FEF3E4;
  box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);
  cursor: pointer;
  transition: background-color 1000ms, transform 1000ms, box-shadow 1000ms;

  @media screen and(min-width:$tablet) {
    width: 152px;
    height: 152px;
    padding-top: 53px;
  }

  @media screen and(min-width:$desktop) {
    width: 180px;
    height: 180px;
    padding-top: 65px;
  }
}

.content__item:nth-child(even) {
  margin-top: 59px;
}


// .content__item:nth-child(2n+4) {
//   margin-top: 116px;
// }

.content__item:hover {
  background-color: #FFE7C9;
  transform: scale(1.05);
  box-shadow: 0px 8px 8px rgba(171, 129, 108, 0.25);
}

.content__item:hover .content__img {
  transform: rotate(180deg);
}

.content__title {
  font-size: 18px;
  line-height: 1.22;

  @media screen and(min-width:$desktop) {
    font-size: 24px;
    line-height: 1.25;
  }
}

.content__text {
  margin-top: 4px;
  font-size: 14px;
  line-height: 1.21;

  @media screen and(min-width:$tablet) {
    margin-top: 14px;
  }

  @media screen and(min-width:$desktop) {
    margin-top: 16px;
    font-size: 16px;
    line-height: 1.22;
  }
}

.content__icon {
  margin-top: 8px;
  width: 19px;
  height: 19px;

  @media screen and(min-width:$tablet) {
    width: 21px;
    height: 21px;
  }

  @media screen and(min-width:$desktop) {
    width: 25px;
    height: 25px;
  }
}

.program__button {
  margin-top: 16px;
  font-size: 18px;
  border: none;
  font-family: 'Caveat Brush';
  font-size: 18px;
  line-height: 1.28;
  color: $button-bg-color;
  background-color: transparent;
  cursor: pointer;

  // &:hover,
  // &:focus {
  //   background-color: transparent;
  //   transform: scale(1.2);
  //   transform: translate (10px, 20px);
  // }
}

.backdrop {
  @media screen and (max-width: $tablet-max) {
    &.is-hidden {
      display: none;
      opacity: 0;
      pointer-events: none;
    }
  }
}