.registration {
  margin-top: 32px;
}

.registration__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 8px;
  min-height: 466px;
  box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15),
    4px 4px 4px rgba(171, 129, 108, 0.15);
  border-radius: 150px 150px 0px 0px;
}

.registration__title {
  position: absolute;
  font-size: 24px;
  text-align: center;
}

.registration__time {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 114px;
}

.registration__details {
  margin-top: 40px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
}

.registration__text {
  margin-top: 20px;
  padding-top: 8px;
  text-align: center;
  border-top: 1px solid rgba(171, 129, 108, 0.5);
}

.registration-form {
  text-align: center;
  margin-top: 20px;
  width: 100%;
}

.registration-form__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.registration-form__item {
  position: relative;
}
.registration-form__input {
  width: 100%;
  border: 0 transparent solid;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom: 1px rgba(171, 129, 108, 1) solid;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    color: rgba(171, 129, 108, 0.5);
  }

  &:valid:not(:placeholder-shown) {
    border-color: green;
  }

  &:invalid:not(:placeholder-shown) {
    border-color: red;
  }

  &:invalid:not(:placeholder-shown) + .contact-form__error-message {
    display: block;
  }

  &:focus {
    outline: 1px rgba(53, 51, 51, 0.445) solid;
  }
}

.blob-button--position {
  padding-left: 47px;
  padding-right: 47px;
}
