.registration {
  margin-top: 32px;
}

.registration__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 8px;
  height: 466px;
  box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15),
    4px 4px 4px rgba(171, 129, 108, 0.15);
  border-radius: 150px 150px 0px 0px;
}

.registration__title {
  font-size: 24px;
  text-align: center;
}

.registration__time {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 114px;
}

.registration__details {
  margin-top: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
}

.registration__text {
  margin-top: 20px;
  padding-top: 8px;
  text-align: center;
  border-top: 1px solid rgba(171, 129, 108, 0.5);
}

.registration-form {
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

.registration-form__list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.registration-form__input{
    width: 100%;
    border: 0 transparent solid;
    border-bottom: 1px rgba(171, 129, 108, 1) solid;

    &::placeholder {
        color: rgba(171, 129, 108, 0.5);
    }
}

// .registration-button {
//     margin-top: 32px;
//     text-align: center;
//     min-width: 145px;
//     padding-top: 8px;
//     padding-bottom: 8px;
// }