.registration {
  position: relative;
  @media screen and (max-width: $mobile-max) {
    padding: 32px 0 32px;
  }

  @media screen and (min-width: $tablet) {
    padding-top: 48px;
    padding-bottom: 78px;

    background-image: url('/src/images/registration/tablet/registration-donut-tablet.png'),
      url('/src/images/registration/tablet/registration-confetti-tablet.png');
    z-index: 2;

    background-position: calc(50% - 275px) calc(50% - 105px),
      calc(50% + 235px) calc(50% + 90px);
    background-repeat: no-repeat;
    background-attachment: local;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('/src/images/registration/tablet/registration-donut-tablet@2x.png'),
        url('/src/images/registration/tablet/registration-confetti-tablet@2x.png');
      background-size: 220px 220px, 300px 350px;
    }
  }

  @media screen and (min-width: $desktop) {
    padding-top: 60px;
    padding-bottom: 160px;

    background-image: url('/src/images/registration/desktop/registration-donut-desktop.png'),
      url('/src/images/registration/desktop/registration-confetti-desktop.png');
    background-position: calc(50% - 435px) calc(50% - 90px),
      calc(50% + 360px) calc(50% + 110px);

    background-repeat: no-repeat;
    background-attachment: local;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('/src/images/registration/desktop/registration-donut-desktop@2x.png'),
        url('/src/images/registration/desktop/registration-confetti-desktop@2x.png');
      background-size: 255px 250px, 560px 580px;
    }
  }
}

.registration__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 8px;
  min-height: 466px;
  background-color: $secondary-body-color;
  box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15),
    4px 4px 4px rgba(171, 129, 108, 0.15);
  border-radius: 175px 175px 0px 0px/150px 150px 0px 0px;

  @media screen and (min-width: $tablet) {
    padding: 40px 60px;
    min-height: 260px;
    border-radius: 150px;
    flex-direction: row;
  }

  @media screen and (min-width: $desktop) {
    width: 822px;
    margin: 0 auto;
    padding: 40px 106px;
  }
}

.registration__title {
  font-size: 24px;
  text-align: center;
  line-height: 2.7;

  @media screen and (max-width: $mobile-max) {
    position: absolute;
    left: 50%;
    padding-top: 32px;
    transform: translateX(-50%);
    padding: 32px 0 0;
    line-height: 1.25;
  }

  @media screen and (min-width: $desktop) {
    top: 8px;
    font-size: 36px;
    line-height: 1.81;
  }
}

.registration__details {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;

  @media screen and (min-width: $desktop) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.registration__time {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  width: 114px;

  span {
    margin-top: 20px;
  }

  @media screen and (min-width: $tablet) {
    justify-content: end;
    align-items: center;
    text-align: right;
    margin-right: 32px;
    margin-top: 20px;

    span {
      margin-top: 32px;
    }
  }

  @media screen and (min-width: $desktop) {
    width: 175px;
  }
}

.registration__text {
  padding-top: 8px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  border-top: 1px solid rgba(171, 129, 108, 0.5);

  @media screen and (min-width: $tablet) {
    padding: 0;
    border-top: 0 transparent solid;
    text-align: left;
    width: 240px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 18px;
    line-height: 1.22;
  }
}

.registration-form {
  text-align: center;
  margin-top: 20px;
  width: 100%;

  @media screen and (min-width: $tablet) {
    display: flex;
    margin-top: 0;
    padding-left: 24px;
    border-left: 1px solid rgba(171, 129, 108, 0.5);

    &__input {
      width: 240px;
    }
  }

  @media screen and (min-width: $desktop) {
    padding-left: 32px;
  }
}

.registration-form__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-top: 20px;

  @media screen and (min-width: $tablet) {
    row-gap: 16px;
    margin-top: 16px;
  }
}

.registration-form__item {
  position: relative;
}

.registration-form__input {
  width: 100%;
  background-color: $secondary-body-color;
  border: 0 transparent solid;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom: 1px rgba(171, 129, 108, 1) solid;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    color: rgba(171, 129, 108, 0.5);
  }

  &:valid:not(:placeholder-shown) {
    border-color: green;
  }

  &:invalid:not(:placeholder-shown) {
    border-color: red;
  }

  &:invalid:not(:placeholder-shown) + .contact-form__error-message {
    display: block;
  }

  &:focus {
    outline: 1px rgba(53, 51, 51, 0.445) solid;
  }
}

.blob-button--position {
  padding-left: 47px;
  padding-right: 47px;
}

.registration-button {
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-left: 55px;
  }

  @media screen and (min-width: $desktop) {
    margin-left: 30px;
  }
}
