.reviews__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.25;
    text-align: center;
    margin-bottom: 20px;
    color: $title-color;
    font-family: 'Caveat Brush';
}

.slider__title {
    font-style: italic;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    color: $title-color;
    font-family: 'Montserrat';
}

.reviews__photo{
    height: 280px;
}