<section class="contact">
    <div class="container">
        <h2 id="contact" class="title contact--title">Contact</h2>
        <p class="contact__text">We will answer any question!</p>
        <form autocomplete="off" class="contact-form">
            <ul class="contact-form__list">
                <li class="contact-form__item">
                    <div>
                        <input class="contact-form__input" type="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Email">
                        <span class="contact-form__error-message">This field must contain E-Mail in the format example@site.com</span>
                    </div>
                </li>
                <li class="contact-form__item"><input class="contact-form__input" type="text" name="question" maxlength="30" placeholder="Type your question"></li>
            </ul>
            <!-- <button type="submit" class="main-button">Send</button> -->
            <div class="buttons">
                <button type="submit" class="blob-button">
                  Send
                  <span class="blob-button__inner">
                    <span class="blob-button__blobs">
                      <span class="blob-button__blob"></span>
                      <span class="blob-button__blob"></span>
                      <span class="blob-button__blob"></span>
                      <span class="blob-button__blob"></span>
                    </span>
                  </span>
                </button>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="blob-button__svg">
                <defs>
                  <filter id="goo">
                    <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
                    <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo"></feColorMatrix>
                    <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
                  </filter>
                </defs>
            </svg>
        </form>
    </div>
</section>