<footer class="section-footer">
     <div class="container">
          <ul class="social">
               <li class="social__item">
                    <a href="" class="footer__icon" aria-label="twitter">
                         <span class="visually-hidden">Twitter</span>
                         <svg class="social-icon" width="16px" height="16px">
                              <use href="./images/sprite.svg#twitter-icon"></use>
                         </svg>
                    </a>
               </li>
               <li class="social__item">
                    <a href="" class="footer__icon" aria-label="instagram">
                         <span class="visually-hidden">Instagram</span>
                         <svg class="social-icon" width="16px" height="16px">
                              <use href="./images/sprite.svg#instagram-icon"></use>
                         </svg>
                    </a>
               </li>
               <li class="social__item">
                    <a href="" class="footer__icon" aria-label="facebook">
                         <span class="visually-hidden">Facebook</span>
                         <svg class="social-icon" width="16px" height="16px">
                              <use href="./images/sprite.svg#facebook-icon"></use>
                         </svg>
                    </a>
               </li>
          </ul>

          <ul class="contacts-list">
               <li class="contacts-lis__item"><a href="tel:(910)222-8855" class="contacts-list__link">
                         <span class="contacts-list__icon">
                              <svg class="button-icon" width="13px" height="12.15px">
                                   <use href="./images/sprite.svg#phone-icon"></use>
                              </svg>
                         </span>
                         (910)222-8855</a>
               </li>
               <li class="contacts-lis__item"><a href="https://www.google.com.ua/maps/place/%D0%9D%D1%8C%D1%8E-%D0%99%D0%BE%D1%80%D0%BA,+%D0%A1%D0%A8%D0%90/@40.6976637,-74.119764,11z/data=!3m1!4b1!4m5!3m4!1s0x89c24fa5d33f083b:0xc80b8f06e177fe62!8m2!3d40.7127753!4d-74.0059728?hl=ru&authuser=0" target="_blank" title="Карта Google" class="contacts-list__link">
                         <span class="contacts-list__icon">
                              <svg class="button-icon" width="11px" height="13.5px">
                                   <use href="./images/sprite.svg#location-icon"></use>
                              </svg>
                         </span>
                         New York</a>
               </li>
          </ul>

     </div>
</footer>
