<header class="page-header">
    <div class="header__container container">
        <!-- <picture class="header__picture--mobile">
            <source srcset="./images/header/mobile/donuts-mobile.png 1x, ./images/header/mobile/donuts-mobile@2x.png 2x" type="image/png">
            <img src="./images/header/mobile/donuts-mobile.png" alt="Donuts">
        </picture>
        <picture class="header__picture--tablet">
            <source srcset="./images/header/tablet/donuts-tablet.png 1x, ./images/header/tablet/donuts-tablet@2x.png 2x" type="image/jpeg">
            <img src="./images/header/tablet/donuts-tablet.png" alt="Donuts">
        </picture>
        <picture class="header__picture--desktop">
            <source srcset="./images/header/desktop/donuts-desktop.png 1x, ./images/header/desktop/donuts-desktop@2x.png 2x" type="image/jpeg">
            <img src="./images/header/desktop/donuts-desktop.png" alt="Donuts">
        </picture> -->
        <div class="info">
            <h1 class="main-title">Donut Masterclass with the Donut King</h1>
            <h2 class="title-info">Hosted by Eva Green</h2>
            <button type="button" class="button" href="#register">
                Register
            </button>
            <ul class="social-icon">
                <li class="social-icon__item">
                    <svg class="social-icon" width="16px" height="16px">
                        <use href="./images/sprite.svg#twitter-icon"></use>
                    </svg>
                </li>
                <li class="social-icon__item">
                    <svg class="social-icon" width="16px" height="16px">
                        <use href="./images/sprite.svg#instagram-icon"></use>
                    </svg>
                </li>
                <li class="social-icon__item">
                    <svg class="social-icon" width="16px" height="16px">
                        <use href="./images/sprite.svg#facebook-icon"></use>
                    </svg>
                </li>
            </ul>
        </div>
    </div>
</header>
