<header class="page-header">
    <div class="header__container">
        <div class="info">
            <h1 class="main-title">Donut Masterclass with the Donut King</h1>
            <h2 class="title">Hosted by Eva Green</h2>
            <button type="button" class="button">
                Register
            </button>
            <ul class="social-icon">
                <li class="social-icon__item">
                    <svg class="social-icon" width="16px" height="16px">
                        <use href="./images/sprite.svg#twitter-icon"></use>
                    </svg>
                </li>
                <li class="social-icon__item">
                    <svg class="social-icon" width="16px" height="16px">
                        <use href="./images/sprite.svg#instagram-icon"></use>
                    </svg>
                </li>
                <li class="social-icon__item">
                    <svg class="social-icon" width="16px" height="16px">
                        <use href="./images/sprite.svg#facebook-icon"></use>
                    </svg>
                </li>
            </ul>
        </div>
    </div>
</header>
