<header class="page-header">
    <div class="header__container">
        <nav class="main-nav">
            <a class="logo" href="./index.html">
                <svg width="96px" height="45px" class="logo__icon">
                    <use href="./images/sprite.svg#logo"></use>
                </svg>
            </a>
            <ul class="site-nav">
                <li class="site-nav__item"><a class="site-nav__link" href="#">About us</a></li>
                <li class="site-nav__item"><a class="site-nav__link" href="#">Program</a></li>
                <li class="site-nav__item"><a class="site-nav__link" href="#">Reviews</a></li>
                <li class="site-nav__item"><a class="site-nav__link" href="#">Contacts</a></li>
            </ul>
            <button type="button" class="menu__button">
                <svg class="menu-icon" width="30px" height="16px" aria-label="Переключатель мобильного меню">
                    <use class="icon__menu" href="./images/sprite.svg#"></use>
                </svg>
            </button>
        </nav>
        <div class="info">
            <h1 class="main-title">Donut Masterclass with the Donut King</h1>
            <h2 class="title">Hosted by Eva Green</h2>
            <button type="button" class="button">
                Register
            </button>
            <ul class="social-icon">
                <li class="social-icon__item">
                    <svg class="social-icon" width="16px" height="16px">
                        <use href="./images/sprite.svg#twitter-icon"></use>
                    </svg>
                </li>
                <li class="social-icon__item">
                    <svg class="social-icon" width="16px" height="16px">
                        <use href="./images/sprite.svg#instagram-icon"></use>
                    </svg>
                </li>
                <li class="social-icon__item">
                    <svg class="social-icon" width="16px" height="16px">
                        <use href="./images/sprite.svg#facebook-icon"></use>
                    </svg>
                </li>
            </ul>
        </div>
    </div>
</header>
