<div class="container">
  <div class="menu">
    <a class="logo" href="./index.html">
      <svg class="logo__icon" width="96px" height="45px" aria-label="company logo">
        <use href="./images/sprite.svg#logo"></use>
      </svg>
    </a>
  
    <button type="button" class="menu__btn" data-menu-open>
      <svg class="menu__icon" width="30px" height="16px" aria-label="menu enable button">
        <use href="./images/sprite.svg#icon-menu"></use>
      </svg>
    </button>
  
    <nav class="nav-site">
      <ul class="nav-site__menu">
        <li class="nav-site__item"><a class="nav-site__link" href="#about-us">About us</a></li>
        <li class="nav-site__item"><a class="nav-site__link" href="#program">Program</a></li>
        <li class="nav-site__item"><a class="nav-site__link" href="#reviews">Reviews</a></li>
        <li class="nav-site__item"><a class="nav-site__link" href="#contact">Contacts</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="pop-up-menu" data-menu>
  <button type="button" class="pop-up-menu__btn" data-menu-close>
    <svg class="pop-up-menu__icon" width="18px" height="18px" aria-label="menu off button">
      <use href="./images/sprite.svg#icon-close"></use>
    </svg>
  </button>

  <div class="pop-up-menu__container">
    <a class="logo" href="./index.html">
      <svg class="logo__icon" width="190px" height="85px" aria-label="company logo">
        <use href="./images/sprite.svg#logo"></use>
      </svg>
    </a>

    <nav class="nav-site">
      <ul class="nav-site__menu">
        <li class="nav-site__item"><a class="nav-site__link" href="#">About us</a></li>
        <li class="nav-site__item"><a class="nav-site__link" href="#">Program</a></li>
        <li class="nav-site__item"><a class="nav-site__link" href="#">Reviews</a></li>
        <li class="nav-site__item"><a class="nav-site__link" href="#">Contacts</a></li>
      </ul>
    </nav>

  </div>
</div>

