<section class="program">
  <div class="program__container container">
    <div class="program__features">
      <h2 class="program__title title">Program</h2>
      <p class="program__text">
        Indulge in this immersive sweet treat experience with The Chef Donut
        Queen in her New York donut shop!
      </p>
      <ul class="program__list">
        <li class="program__item">>A stand up history of donuts</li>
        <li class="program__item">>Make 3 donut flavors of your choice</li>
        <li class="program__item">>Enjoy all-you-can-eat donuts</li>
        <li class="program__item">>Cocktail pairings and coffee included</li>
        <li class="program__item">>Photoshoot by professional photographer</li>
        <li class="program__item">>Secret receipt of cooking from Eva</li>
        <li class="program__item">>All products are included in the price</li>
      </ul>
      <button type="button" class="program__button" data-btn-open>
        Read more
      </button>
      <div class="backdrop is-hidden" data-btn>
        <p class="program__text">
          Come with your dear people and friends and you will spend an
          unforgettable time and will become a real professional in donuts
          cooking!
        </p>
        <button type="button" class="program__button" data-btn-close>
          Less
        </button>
      </div>
    </div>
    <div class="program__content">
      <ul class="content__list">
        <li class="content__item">
          <picture class="content__img">
            <source
              srcset="
                ./images/program/desktop/event-donut-desktop.png    1x,
                ./images/program/desktop/event-donut-desktop@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/program/tablet/event-donut-tablet.png    1x,
                ./images/program/tablet/event-donut-tablet@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/program/mobile/event-donut-mobile.png    1x,
                ./images/program/mobile/event-donut-mobile@2x.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="./images/program/desktop/event-donut-desktop.png"
              alt="type of the event"
            />
          </picture>
          <h3 class="content__title title">Type of the event</h3>
          <p class="content__text">Cooking classes</p>
          <svg class="content__icon">
            <use href="./images/sprite.svg#chef-hat-icon"></use>
          </svg>
        </li>
        <li class="content__item">
          <picture class="content__img">
            <source
              srcset="
                ./images/program/desktop/guest-donut-desktop.png    1x,
                ./images/program/desktop/guest-donut-desktop@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/program/tablet/guest-donut-tablet.png    1x,
                ./images/program/tablet/guest-donut-tablet@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/program/mobile/guest-donut-mobile.png    1x,
                ./images/program/mobile/guest-donut-mobile@2x.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="./images/program/desktop/guest-donut-desktop.png"
              alt="type of the event"
            />
          </picture>
          <h3 class="content__title title">Number of guests</h3>
          <p class="content__text">1 to 20</p>
          <svg class="content__icon">
            <use href="./images/sprite.svg#people-icon"></use>
          </svg>
        </li>
        <li class="content__item">
          <picture class="content__img">
            <source
              srcset="
                ./images/program/desktop/time-donut-desktop.png    1x,
                ./images/program/desktop/time-donut-desktop@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/program/tablet/time-donut-tablet.png    1x,
                ./images/program/tablet/time-donut-tablet@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/program/mobile/time-donut-mobile.png    1x,
                ./images/program/mobile/time-donut-mobile@2x.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="./images/program/desktop/time-donut-desktop.png"
              alt="type of the event"
            />
          </picture>
          <h3 class="content__title title">Time of the event</h3>
          <p class="content__text">18:30 (2.5 hours)</p>
          <svg class="content__icon">
            <use href="./images/sprite.svg#clock-icon"></use>
          </svg>
        </li>
        <li class="content__item">
          <picture class="content__img">
            <source
              srcset="
                ./images/program/desktop/host-donut-desktop.png    1x,
                ./images/program/desktop/host-donut-desktop@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/program/tablet/host-donut-tablet.png    1x,
                ./images/program/tablet/host-donut-tablet@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/program/mobile/host-donut-mobile.png    1x,
                ./images/program/mobile/host-donut-mobile@2x.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="./images/program/desktop/host-donut-desktop.png"
              alt="type of the event"
            />
          </picture>
          <h3 class="content__title title">The host speaks</h3>
          <p class="content__text">English, French</p>
          <svg class="content__icon">
            <use href="./images/sprite.svg#chat-icon"></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</section>
