<section class="registration">
    <div class="container">
        <h2 class="title registration--title">Registration</h2>
    <div>
        <h3>May 23,</h3>
        <h3>11:00</h3>
        <h3>New York</h3>
    </div>
    <span>$ 699</span>
    <p class="registration__text">Apply your personal info for registration</p>
    </div>
    <form autocomplete="off">
        <ul>
            <li>
                <input type="text" name="name" placeholder="Your name">
            </li>
            <li>
                <input type="number" name="phone" placeholder="Phone number">
            </li>
            <li>
                <input type="email" name="email" placeholder="Email">
            </li>
        </ul>
        <button type="submit">Register</button>
    </form>
</section>
