<section class="reviews">
    <div class="reviews__container container">
        <h2 class="reviews__title title">Reviews</h2>
        <article>
            <picture>
                <source srcset="
                            ./images/reviews/mobile/john-reviews-mobile.jpg 1x,
                            ./images/reviews/mobile/john-reviews-mobile@2x.jpg 2x
                            " media="(min-width: 320px)" />
                <source srcset="
                            ./images/reviews/mobile/john-reviews-tablet.jpg 1x,
                            ./images/reviews/mobile/john-reviews-tablet@2x.jpg 2x
                            " media="(min-width: 768px)" />

                <source srcset="
                            ./images/reviews/mobile/john-reviews-desktop.jpg 1x,
                            ./images/reviews/mobile/john-reviews-desktop@2x.jpg 2x
                            " media="(min-width: 1280x)" />
            </picture>
            <h3 class="slider__title title">John</h3>
            <svg>
                <use href="../images/sprite.svg#icon-four-star"></use>
            </svg>
        </article>
        <article>
            <picture>
                <source srcset="
                ./images/reviews/mobile/will-reviews-mobile.jpg 1x,
                ./images/reviews/mobile/will-reviews-mobile@2x.jpg 2x
                " media="(min-width: 320px)" />
                <source srcset="
                ./images/reviews/mobile/will-reviews-tablet.jpg 1x,
                ./images/reviews/mobile/will-reviews-tablet@2x.jpg 2x
                " media="(min-width: 768px)" />

                <source srcset="
                ./images/reviews/mobile/will-reviews-desktop.jpg 1x,
                ./images/reviews/mobile/will-reviews-desktop@2x.jpg 2x
                " media="(min-width: 1280x)" />
            </picture>
            <h3 class="slider__title title">Will</h3>
            <svg>
                <use href="../images/sprite.svg#icon-five-star"></use>
            </svg>
            <p>Last time I have visited a cooking course by Eva
                I was impressed with the way she explained everything
                to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the
                kitchen!
                Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to
                everyone!</p>
        </article>
        <article>
            <picture>
                <source srcset="
                            ./images/reviews/mobile/elizabeth-reviews-mobile.jpg 1x,
                            ./images/reviews/mobile/elizabeth-reviews-mobile@2x.jpg 2x
                            " media="(min-width: 320px)" />
                <source srcset="
                            ./images/reviews/mobile/elizabeth-reviews-tablet.jpg 1x,
                            ./images/reviews/mobile/elizabeth-reviews-tablet@2x.jpg 2x
                            " media="(min-width: 768px)" />

                <source srcset="
                            ./images/reviews/mobile/elizabeth-reviews-desktop.jpg 1x,
                            ./images/reviews/mobile/elizabeth-reviews-desktop@2x.jpg 2x
                            " media="(min-width: 1280x)" />
            </picture>
            <h3 class="slider__title title">Elizabeth</h3>
            <svg>
                <use href="../images/sprite.svg#icon-five-star"></use>
            </svg>
        </article>
    </div>
</section> 