<section class="reviews__section">
    <div class="reviews__container container">
        <h2 class="reviews__title title">Reviews</h2>
        <div class="review-articles">
            <article class="review-article">
                <div class="review__mask john"></div>
                <svg class="slider__stars">
                    <use href="/src/images/sprite.svg#icon-four-star"></use>
                </svg>
                <h3 class="slider__title title">John</h3>
                <p class="slider__description john">
                    Last time I have visited a cooking course by Eva<br>I was impressed with the way she explained
                    everything<br>to people. You can be sure you will manage to cook a delicious dish even if it is your
                    first
                    time in the kitchen!
                    Thank you so much for the masterclass! Looking forward to the next one and highly
                    recommend it to everyone!</p>
            </article>
            <article class="review-article">
                <div class="review__mask will"></div>
                <svg class="slider__stars">
                    <use href="/src/images/sprite.svg#icon-five-star"></use>
                </svg>
                <h3 class="slider__title title">Will</h3>
                <p class="slider__description will">
                    Last time I have visited a cooking course by Eva<br>I was impressed with the way she explained
                    everything<br>to people. You can be sure you will manage to cook a delicious dish even if it is your
                    first
                    time in the kitchen!
                    Thank you so much for the masterclass! Looking forward to the next one and highly
                    recommend it to everyone!</p>
            </article>
            <article class="review-article">
                <div class="review__mask elizabeth"></div>
                <svg class="slider__stars">
                    <use href="/src/images/sprite.svg#icon-five-star"></use>
                </svg>
                <h3 class="slider__title title">Elizabeth</h3>
                <p class="slider__description elizabeth">
                    Last time I have visited a cooking course by Eva<br>I was impressed with the way she explained
                    everything<br>to people. You can be sure you will manage to cook a delicious dish even if it is your
                    first
                    time in the kitchen!
                    Thank you so much for the masterclass! Looking forward to the next one and highly
                    recommend it to everyone!</p>
            </article>
        </div>
        <div class="review-pagination">
            <div class="pagination-line"></div>
            <p class="pagination-number">2/15</p>
            <div class="pagination-line"></div>
        </div>
    </div>
</section>